* { margin: 0; padding: 0; box-sizing: border-box; text-align: center;}
body { 
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; 
} 
canvas { 
  padding-left: 0;
  padding-right: 0;
  margin-top: 0px;
  border: 0px solid black;
  background: white;
}
svg { 
  width: 100%;
  height: 100%;
  border: 0px solid green;
  margin: 0;
  padding: 0;
}
